{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=a]').focus().select();
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>
<div class=wrapper-masthead">
	<div class="container">
		<header class="masthead clearfix">
			<div class="site-info">
				<h1 class="site-name">My UCI Class is Full</h1>
				<p class=site-description">Sends you email notification to your @uci.edu email address when the class you want to enroll in becomes available.</p>
		</header>
	</div>
</div>
<div id="main" role="main" class="container">
	<p>
  	Enter a <strong>5-digit course number</strong> of the class you want to enroll in: <input type="text" size="5" name="a">  <p> 
    Enter your <strong>UCINetID</strong>: <input type="text" size="20" name="b"><p>
  	<span id="result"> Please <strong>click the button below</strong> or <strong>press enter.</strong></span>
	<p>
    <div id="share-page"><a href=# id="calculate">Notify me when the class is available!</a></div>
</div>
 <div class="container">
<header class="masthead clearfix">
</header>
<h2>Q &amp; A</h2>
<p>
Q: How do I unsubscribe?
<p>
A: You can hit "unsubscribe" button in your email notification.
<p>
Q: Where can I address questions or concerns about "My UCI Class is Full?"
<p>
A: You can either send us an email to <a href="mailto:myuciclassisfull@gmail.com">myuciclassisfull@gmail.com</a> or directly contribute to the program by sending push requests on the <a href="github.com/yangjiao2/2015HackUCI">github page</a>.
</div>
    <div class="wrapper-footer">
    <footer class="footer">
    Share "My UCI Class is Full" on: <p><a href="https://facebook.com/sharer.php?u=https://myuciclassisfull.herokuapp.com/" rel="nofollow" target="_blank" title="Share on Facebook"><i class="svg-icon facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?text=My UCI Class is Full&url=https://myuciclassisfull.herokuapp.com/" rel="nofollow" target="_blank" title="Share on Twitter"><i class="svg-icon twitter"></i></a>
    <a href="https://plus.google.com/share?url=https://myuciclassisfull.herokuapp.com/" rel="nofollow" target="_blank" title="Share on Google+"><i class="svg-icon googleplus"></i></a>
    <p>
    Created by: JP Park, Yang Jiao
    <p>
    <a href="http://hackuci.com" rel="nofollow" target="_blank" title="HACKUCI">HACKUCI 2015</a>
    </footer>
    </div>
{% endblock %}
